:root {

  --color1:rgb(236, 176, 47) ;
  --color2:rgb(65, 65, 245);
  --color3:rgb(58, 231, 58);
  --fonte-titulos: 1.2rem ;

    --fundo: #ffffff;
    --fundo2: #ececce;
    --fundo3:#d8c7c7f3;
    --texto-1: #111;
    --texto-2: #2b2929;

}

 